/* ==========================================================================
   FONTS
   ========================================================================== */

   @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    src: url("/assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/Poppins-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/Poppins-Light.ttf") format("truetype");
  }
